.burger {
    width: 84px;
    height: 84px;
    background-color: #2231AA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.burger:hover {
    cursor: pointer;
}

.burger span {
    transition: all 0.3s;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    width: 20px;
    border-radius: 4px;
    margin: 2px;
}

.burger:hover span:nth-child(1) {
    transform: translate(5px, -1px) rotate(50deg);
    transform-origin: left top;
}

.burger:hover span:nth-child(2) {
    transform: scale(0);
}

.burger:hover span:nth-child(3) {
    transform: translate(-2px, -14px) rotate(-50deg);
    transform-origin: right bottom;
}